@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* Flexbox for centering and layout */
.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 70vh; /* Make sure container takes a large part of the screen */
  margin: 0 10px; /* Small margin around the container */
}

.array-bar {
  width: 4px;
  display: inline-block;
  margin: 0 1px;
  background-color: pink;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .array-bar {
    width: 2px;
  }
}

/* Media query for screens smaller than 400px */
@media (max-width: 400px) {
  .array-bar {
    width: 1px;
  }
}

header {
  color: rgb(90, 96, 151);
  text-align: center;
  font-size: 3vw; /* Responsive font size */
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 13vh; /* Responsive margin */
  padding-top: 2vh; /* Responsive padding */
}
.button {
  background: linear-gradient(
    90deg,
    rgb(59, 69, 85) 0%,
    rgb(11, 36, 82) 100%
  ); /* Soft pink gradient */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Optional: Adds space between buttons */
}

/* Hover state */
.button:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 192, 203, 1) 0%,
    rgba(255, 182, 193, 1) 100%
  ); /* Reverse gradient on hover */
  color: black;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Active state */
.button:active {
  background: linear-gradient(
    90deg,
    rgba(255, 160, 170, 1) 0%,
    rgba(255, 170, 180, 1) 100%
  ); /* Slightly darker gradient */
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
