/* Ensure the body takes up the full height of the viewport */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Flexbox for centering and layout */
.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 70vh; /* Make sure container takes a large part of the screen */
  margin: 0 10px; /* Small margin around the container */
}

.array-bar {
  width: 4px;
  display: inline-block;
  margin: 0 1px;
  background-color: pink;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .array-bar {
    width: 2px;
  }
}

/* Media query for screens smaller than 400px */
@media (max-width: 400px) {
  .array-bar {
    width: 1px;
  }
}

header {
  color: white;
  text-align: center;
  font-size: 3vw; /* Responsive font size */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 90px; /* Responsive margin */
  padding-top: 2vh; /* Responsive padding */
}
